<a href="https://colab.research.google.com/github/haraharaman/learning/blob/main/3%E7%AB%A0_%E9%A1%A7%E5%AE%A2%E3%81%AE%E5%85%A8%E4%BD%93%E5%83%8F%E3%82%92%E6%8A%8A%E6%8F%A1%E3%81%99%E3%82%8B%EF%BC%91%EF%BC%90%E6%9C%AC%E3%83%8E%E3%83%83%E3%82%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
# Google Driveと接続を行います。これを行うことで、Driveにあるデータにアクセスできるようになります。
# 下記セルを実行すると、Googleアカウントのログインを求められますのでログインしてください。
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
# 作業フォルダへの移動を行います。
# 人によって作業場所がことなるので、その場合作業場所を変更してください。
import os 
os.chdir('/content/drive/MyDrive/勉強/Colab Notebooks/100knock-data_analytics/3章') #ここを変更。

# 3章 顧客の全体像を把握する１０本ノック

ここでは、スポーツジムの会員データを使って顧客の行動を分析していきます。  
これまでと同様にまずはデータを理解し、加工した後、  
顧客の行動データを分析していきましょう。  
ここでは、機械学習に向けての初期分析を行います。

### ノック21：データを読み込んで把握しよう

In [45]:
import pandas as pd

In [46]:
log = pd.read_csv("use_log.csv")
customers = pd.read_csv("customer_master.csv")
classes = pd.read_csv("class_master.csv")
campaigns = pd.read_csv("campaign_master.csv")

In [59]:
customers

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0
2,OA974876,XXXXX,C01,M,2015-05-01 00:00:00,NaN,CA1,0
3,HD024127,XXXXX,C01,F,2015-05-01 00:00:00,NaN,CA1,0
4,HD661448,XXXXX,C03,F,2015-05-01 00:00:00,NaN,CA1,0
...,...,...,...,...,...,...,...,...
4187,HD676663,XXXX,C01,M,2019-03-14 00:00:00,NaN,CA1,0
4188,HD246549,XXXXX,C01,F,2019-03-14 00:00:00,NaN,CA1,0
4189,GD037007,XXXXX,C03,M,2019-03-14 00:00:00,NaN,CA1,0
4190,OA953150,XXXXX,C01,M,2019-03-14 00:00:00,NaN,CA1,0
4191,IK692635,XXXXX,C02,F,2019-03-15 00:00:00,NaN,CA1,0

### ノック22：顧客データを整形しよう

In [48]:
join_customers = pd.merge(customers, classes, how="left")
join_customers = pd.merge(join_customers, campaigns, how="left")

In [49]:
join_customers.isnull().sum()

customer_id         0
name                0
class               0
gender              0
start_date          0
end_date         2842
campaign_id         0
is_deleted          0
class_name          0
price               0
campaign_name       0
dtype: int64

### ノック23：顧客データの基礎集計をしよう

In [50]:
join_customers.groupby("class_name").count()["customer_id"]

class_name
オールタイム    2045
デイタイム     1019
ナイト       1128
Name: customer_id, dtype: int64

In [51]:
join_customers.groupby("gender").count()["customer_id"]

gender
F    1983
M    2209
Name: customer_id, dtype: int64

In [52]:
join_customers.groupby("is_deleted").count()["customer_id"]

is_deleted
0    2842
1    1350
Name: customer_id, dtype: int64

### ノック24：最新顧客データの基礎集計をしよう

In [91]:
join_customers["end_date"] = pd.to_datetime(join_customers["end_date"])
current_customer = join_customers.loc[(join_customers["end_date"] >= pd.to_datetime("20190331"))|(join_customers["end_date"].isna())]
current_customer

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name
0,OA832399,XXXX,C01,F,2015-05-01 00:00:00,NaT,CA1,0,オールタイム,10500,通常
1,PL270116,XXXXX,C01,M,2015-05-01 00:00:00,NaT,CA1,0,オールタイム,10500,通常
2,OA974876,XXXXX,C01,M,2015-05-01 00:00:00,NaT,CA1,0,オールタイム,10500,通常
3,HD024127,XXXXX,C01,F,2015-05-01 00:00:00,NaT,CA1,0,オールタイム,10500,通常
4,HD661448,XXXXX,C03,F,2015-05-01 00:00:00,NaT,CA1,0,ナイト,6000,通常
...,...,...,...,...,...,...,...,...,...,...,...
4187,HD676663,XXXX,C01,M,2019-03-14 00:00:00,NaT,CA1,0,オールタイム,10500,通常
4188,HD246549,XXXXX,C01,F,2019-03-14 00:00:00,NaT,CA1,0,オールタイム,10500,通常
4189,GD037007,XXXXX,C03,M,2019-03-14 00:00:00,NaT,CA1,0,ナイト,6000,通常
4190,OA953150,XXXXX,C01,M,2019-03-14 00:00:00,NaT,CA1,0,オールタイム,10500,通常
4191,IK692635,XXXXX,C02,F,2019-03-15 00:00:00,NaT,CA1,0,デイタイム,7500,通常

In [92]:
current_customer.groupby("gender").count()["customer_id"]

gender
F    1400
M    1553
Name: customer_id, dtype: int64

In [93]:
current_customer.groupby("class_name").count()["customer_id"]

class_name
オールタイム    1444
デイタイム      696
ナイト        813
Name: customer_id, dtype: int64

In [94]:
current_customer.groupby("campaign_name").count()["customer_id"]

campaign_name
入会費半額     311
入会費無料     242
通常       2400
Name: customer_id, dtype: int64

### ノック25：利用履歴データを集計しよう

In [53]:
log["month"] = pd.to_datetime(log["usedate"]).dt.strftime("%Y%m")
log

                 log_id customer_id     usedate   month
0       L00000049012330    AS009373  2018-04-01  201804
1       L00000049012331    AS015315  2018-04-01  201804
2       L00000049012332    AS040841  2018-04-01  201804
3       L00000049012333    AS046594  2018-04-01  201804
4       L00000049012334    AS073285  2018-04-01  201804
...                 ...         ...         ...     ...
197423  L00000049209753    TS977703  2019-03-31  201903
197424  L00000049209754    TS979550  2019-03-31  201903
197425  L00000049209755    TS995299  2019-03-31  201903
197426  L00000049209756    TS995853  2019-03-31  201903
197427  L00000049209757    TS999079  2019-03-31  201903

[197428 rows x 4 columns]

In [55]:
log_month = log.groupby(["month","customer_id"]).count()
log_month

                    log_id  usedate
month  customer_id
201804 AS002855          4        4
       AS009013          2        2
       AS009373          3        3
       AS015315          6        6
       AS015739          7        7
...                    ...      ...
201903 TS995853          8        8
       TS998593          8        8
       TS999079          3        3
       TS999231          6        6
       TS999855          4        4

[36842 rows x 2 columns]

In [81]:
#@title デフォルトのタイトル テキスト
log_customer = log_month.groupby(["customer_id"]).agg(["mean","median","max","min"])["usedate"]
log_customer

                 mean  median  max  min
customer_id
AS002855     4.500000     5.0    7    2
AS008805     4.000000     4.0    8    1
AS009013     2.000000     2.0    2    2
AS009373     5.083333     5.0    7    3
AS015233     7.545455     7.0   11    4
...               ...     ...  ...  ...
TS995853     9.500000     9.5   11    8
TS998593     8.142857     8.0    9    7
TS999079     4.916667     5.5    9    2
TS999231     4.666667     5.0    8    1
TS999855     4.583333     4.0    7    3

[4192 rows x 4 columns]

### ノック26：利用履歴データから定期利用フラグを作成しよう

In [56]:
log["weekday"] = log["usedate"].dt.weekday()
log

AttributeError: ignored

### ノック27：顧客データと利用履歴データを結合しよう

### ノック28：会員期間を計算しよう

### ノック29：顧客行動の各種統計量を把握しよう

### ノック30：退会ユーザーと継続ユーザーの違いを把握しよう